gunicorn
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
Deprecated
Flask
gcloud
googleapis-common-protos
httplib2
idna
itsdangerous
Jinja2
jwcrypto
MarkupSafe
numpy
oauth2client
pandas
protobuf
pyasn1
pyasn1-modules
pycparser
pycryptodome
pyparsing
Pyrebase4==4.7.1
python-dateutil
python-jwt
pytz
requests==2.29.0
requests-toolbelt==0.10.1
rsa
six
tzdata
urllib3==1.26.16
Werkzeug
wrapt
