blinker==1.6.2
certifi==2023.5.7
cffi
charset-normalizer
click
colorama
cryptography
Deprecated
Flask
gcloud
googleapis-common-protos
httplib2
idna
itsdangerous
Jinja2
jwcrypto
MarkupSafe
numpy
oauth2client
pandas
protobuf
pyasn1
pyasn1-modules
pycparser
pycryptodome
pyparsing
Pyrebase4
python-dateutil
python-jwt
pytz
requests
requests-toolbelt
rsa
six
tzdata
urllib3
Werkzeug
wrapt
