{% extends 'base.html' %}
{% block body %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Controle de Financeiro</h1>
            <ol class="breadcrumb mb-4">
                <!-- <li class="breadcrumb-item active">Dashboard</li>-->
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Primary Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Warning Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Success Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Danger Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Area Chart Example
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Bar Chart Example
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>$170,750</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2023</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>

<div id="dashboard_div" style="display: flex;">
    <div id="control_ano" style="flex: 1;"></div>
    <div id="control_despesa_fixa" style="flex: 1;"></div>
    <div id="control_categoria" style="flex: 1;"></div>
</div>
<div id="chart_div" style="margin-top: 10px;"></div>


<!-- Carregue a API de Visualização do Google e os pacotes 'controls' e 'table' -->
<script type="text/javascript">
    google.charts.load('current', {'packages': ['controls', 'table']});

    // Configure um retorno de chamada para ser executado quando a API de Visualização do Google for carregada.
    google.charts.setOnLoadCallback(drawDashboard);

    // Função para obter o ano atual
    function getAnoAtual() {
        var dataAtual = new Date();
        return dataAtual.getFullYear().toString();
    }

    // Função de retorno de chamada que cria e preenche uma tabela de dados com controles interativos de seleção de ano e categoria, e desenha o painel.
    function drawDashboard() {
        var despesas = {{ despesas.to_json(orient='records') | safe }};

        // Crie um objeto de dados da tabela
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Ano');
        data.addColumn('date', 'Data');  // Alterado para o tipo 'date'
        data.addColumn('string', 'Categoria');
        data.addColumn('string', 'Descrição');
        data.addColumn('string', 'Pagamento');
        data.addColumn('string', 'Despesa Fixa?');
        data.addColumn('number', 'Valor');

        // Dentro do loop que preenche a tabela
        despesas.forEach(function(item) {
            var dataFormatada = new Date(item.data);
            data.addRow([item.ano, dataFormatada, item.categoria, item.descricao, item.pagamento, item.despesa_fixa, item.valor]);
        });

        // Crie um painel de controle para a seleção de ano
        var controlAno = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'control_ano',
            'options': {
                'filterColumnLabel': 'Ano',
                'ui': {
                    'labelStacking': 'vertical',
                    'label': 'Escolha o Ano:',
                    'allowTyping': false,
                    'allowNone': false,
                }
            }
        });

        // Crie um painel de controle para a seleção de despesa fixa
        var controlDespesaFixa = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'control_despesa_fixa',
            'options': {
                'filterColumnLabel': 'Despesa Fixa?',
                'ui': {
                    'labelStacking': 'vertical',
                    'label': 'Despesa Fixa?',
                    'allowTyping': false,
                    'allowNone': false,
                },
                // Defina as opções "Sim" e "Não" como selecionadas por padrão
                'selectedValues': [ 'Não','Sim']
            }
        });
        // Defina "Sim" como opção padrão
        controlDespesaFixa.setState({'selectedValues': ['Sim']});   

        // Crie um painel de controle para a seleção de categoria
        var controlCategoria = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'control_categoria',
            'options': {
                'filterColumnLabel': 'Categoria',
                'ui': {
                    'labelStacking': 'vertical',
                    'label': 'Selecione uma Categoria:',
                    'allowTyping': false,
                    'allowNone': false,
                }
            }
        });

        // Crie um objeto de tabela e defina as opções
        var table = new google.visualization.ChartWrapper({
            'chartType': 'Table',
            'containerId': 'chart_div',
            'options': {
                'showRowNumber': true,
                'width': '100%',
                'height': '100%'
            }
        });

        // Crie um dashboard que liga os controles à tabela
        var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div'));
        dashboard.bind([controlAno, controlDespesaFixa, controlCategoria], table);

        // Desenhe o painel
        dashboard.draw(data);

        // Defina o ano atual como padrão após o dashboard ser desenhado
        controlAno.setState({'selectedValues': [getAnoAtual()]});
    }
</script>
{% endblock %}
