{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row ">
        <div class="col btn btn-secondary">Mês: <span id="numero_mes"></span></div>    
        <div class="col btn btn-danger">Gasto: R$<span id="gasto_mes"></span></div>
        <div class="col btn btn-success">Crédito: R$<span id="credito_mes"></span></div>
        <div class="col btn btn-warning">Saldo: R$<span id="saldo_mes"></span></div>
    </div>
    <div class="row">
        <div class="col">
            <label for="ano_select">Filtro Ano:</label>
            <select id="ano_select">
                {% for ano in despesas['ano'].unique() %}
                <option {% if ano == current_year %}selected{% endif %}>{{ ano }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="mes_select">Filtro Mês:</label>
            <select id="mes_select">
                {% for mes in despesas['mes'].unique() %}
                <option {% if mes == current_month %}selected{% endif %}>{{ mes }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="chart1"></div>
        </div>
        <div class="col">
            <div id="chart2"></div>
        </div>
    </div>
    <div class="row">
        <div id="chart3"></div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var current_year = new Date().getFullYear();
    var current_month = new Date().getMonth() + 1;

    window.onload = function() {
        var despesas = {{ despesas.to_json(orient='records') | safe }};
        
        function filtrarDados(ano, mes) {
            return despesas.filter(item => item.ano === ano && item.mes === mes && item.tipo_despesa == 'despesa');
        }

        function filtrarDadosCredito(ano, mes) {
            return despesas.filter(item => item.ano === ano && item.mes === mes && item.tipo_despesa == 'credito');
        }

        function gerarGrafico1(filtro_ano, filtro_mes) {
            var filtro_despesa = filtrarDados(filtro_ano, filtro_mes);
            var labels1 = filtro_despesa.map(item => item.categoria);
            var values1 = filtro_despesa.map(item => item.valor);
            var colors1 = ['red', 'green', 'blue', 'orange', 'purple', 'yellow', 'pink', 'gray', 'brown', 'black', 'white', 'turquoise', 'violet'];

            var data1 = [{
                type: 'pie',
                labels: labels1,
                values: values1,
                marker: {
                    colors: colors1
                }
            }];

            var layout1 = {
                title: 'Total por Categoria',
                showlegend: true,
                legend: {
                    x: 1,
                    y: 0,
                    traceorder: 'normal',
                    font: {
                        family: 'sans-serif',
                        size: 12,
                        color: '#000'
                    },
                    bgcolor: '#E2E2E2',
                    bordercolor: '#FFFFFF',
                    borderwidth: 2
                }
            };

            Plotly.newPlot('chart1', data1, layout1);
        }

        function gerarGrafico2(filtro_ano, filtro_mes) {
            var filtro1_despesa = filtrarDados(filtro_ano, filtro_mes);

            // Agrupar os valores por dia e calcular a soma de cada grupo
            var valoresPorDia = filtro1_despesa.reduce(function(result, item) {
                var dia = item.dia;
                var valor = item.valor;

                if (!result[dia]) {
                result[dia] = 0;
                }

                result[dia] += valor;

                return result;
            }, {});

            var labels2 = Object.keys(valoresPorDia);
            var values2 = Object.values(valoresPorDia);

            var data2 = [{
                x: labels2,
                y: values2,
                type: 'bar',
                marker: {
                color: 'blue'
                }
            }];

            var layout2 = {
                title: 'Total por Dia'
            };

            Plotly.newPlot('chart2', data2, layout2);
            }


            function gerarGrafico3(filtro_ano, filtro_mes) {
                var filtro3_despesa = despesas;

                // Filtrar os dados do ano atual
                var despesasAnoAtual = filtro3_despesa.filter(item => item.ano === filtro_ano);

                // Agrupar os valores por mês e calcular a soma de cada grupo para o ano atual
                var valoresPorMesAtual = despesasAnoAtual.reduce(function(result, item) {
                    var anomes = item.anomes;
                    var valor = item.valor;

                    if (!result[anomes]) {
                        result[anomes] = 0;
                    }

                    result[anomes] += valor;

                    return result;
                }, {});

                var labels3 = Object.keys(valoresPorMesAtual);
                var values3Atual = Object.values(valoresPorMesAtual);

                var data3 = [{
                    x: labels3,
                    y: values3Atual,
                    name: 'Ano Atual',
                    type: 'bar',
                    marker: {
                        color: 'blue'
                    }
                }];

                var layout3 = {
                    title: 'Total por Mês',
                    xaxis: {
                        title: 'Ano-Mês',
                        tickformat: 'a' // Formato para exibir ano-mês completo
                    }
                };

                Plotly.newPlot('chart3', data3, layout3);
            }



        // Titula com detalhes
        // Aplicar filtro de mês selecionado e somar campo "valor"
        function gerarDetalhesMes(filtro_ano, filtro_mes){
            var filtroTitulo_despesa = filtrarDados(filtro_ano, filtro_mes);
            var filtroTituloCredito_despesa = filtrarDadosCredito(filtro_ano, filtro_mes);

            
            var gastoTotal = filtroTitulo_despesa.reduce((total, item) => total + item.valor, 0);
            var creditoTotal = filtroTituloCredito_despesa.reduce((total, item) => total + item.valor, 0);

            document.getElementById('numero_mes').textContent = filtro_mes;
            document.getElementById('gasto_mes').textContent = gastoTotal;
            document.getElementById('credito_mes').textContent = creditoTotal;
            document.getElementById('saldo_mes').textContent = creditoTotal - gastoTotal ;

        }

        var anoSelecionado = document.getElementById('ano_select');
        var mesSelecionado = document.getElementById('mes_select');

        gerarGrafico1(anoSelecionado.value,mesSelecionado.value);
        gerarGrafico2(anoSelecionado.value,mesSelecionado.value);
        gerarGrafico3(anoSelecionado.value,mesSelecionado.value);
        gerarDetalhesMes(anoSelecionado.value,mesSelecionado.value)

        anoSelecionado.addEventListener('change', function() {
            var tipoAno_select = anoSelecionado.value;
            var tipoMes_select = mesSelecionado.value;
            gerarGrafico1(tipoAno_select, tipoMes_select);
            gerarGrafico2(tipoAno_select, tipoMes_select);
            gerarGrafico3(tipoAno_select, tipoMes_select);
            gerarDetalhesMes(tipoAno_select,tipoMes_select)


        });

        mesSelecionado.addEventListener('change', function() {
            var tipoAno_select = anoSelecionado.value;
            var tipoMes_select = mesSelecionado.value;
            gerarGrafico1(tipoAno_select, tipoMes_select);
            gerarGrafico2(tipoAno_select, tipoMes_select);
            gerarGrafico3(tipoAno_select, tipoMes_select);
            gerarDetalhesMes(tipoAno_select,tipoMes_select)

        });
    }
</script>
{% endblock %}
